<h2>About Lugogram</h2>
<p>
All messages on Lugogram are private to and from your close friends. Not companies. Not ads. Not old school mates. 
The contents of messages are private forever (and will never be used to target adverticing).
</p>


<h2>How does it work?</h2>
<ul>
	<li>Send private messages to people you know the email address of. They do not need to be Lugogram users.  </li>
	<li>Email notifications: These special someones will get an email with your message formated very nicely. Like this:</br><%= image_tag("welcome.png") %></li>
</ul>


<h4>Why is it better than Facebook?</h4>
<p>
It's all private and You only see messages from people that have addressed you specifically. 
</p>

<h4>Why is it better than Email?</h4>
<p>
Its simply much faster and much more beautiful way to send messages to your friends.
<ul>
	<li>Short and sweet: Max 100 characters </li>
	<li>Click on a message to view all messages between you and the people that recieved the message. </li>
</ul>


<p><%= link_to "Sign up now, it's free", signup_path, class: "btn btn-large btn-success" %></p>

</br>
<p>
<%= image_tag("glyphicons_411_twitter.png") %> Follow us on <a href="https://twitter.com/lugogram" target="_blank">twitter</a>
</p>

<p><i>Thanks to <a href="http://twitter.github.io/bootstrap/">Bootstrap</a> for beautiful web pages and <a href="http://glyphicons.com/">Glyphicons</a> for beautiful icons</i></p>