<h1>About</h1>
<%= render 'shared/lugogram_message', avatar: 'https://api.heroku.com/images/v3/profile/ninja-avatar-48x48.png', name: 'Martin', message:'Messaging without reply', color: randomColor() %> 
<br/>
<p>Follow us on <a href="https://twitter.com/lugogram" target="_blank">twitter<a/></p>