<% if signed_in? %>
  <table><tr>
    <td valign="top">   
        <%= render 'shared/micropost_form' %>
    </td>  
  <td width="40">&nbsp;</td>
  <td valign="top">   
        <%= render 'layouts/cute.html' %>  
  </td> 
</tr></table>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Lugogram</h1>

    <h2>
      This is....
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %> 