<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render 'shared/lugogram_message', avatar: @lugogram_avatar, name: @lugogram_name, message:@lugogram_message, color: @lugogram_color %>
  </body>
</html>