<h1>All users</h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag(current_user.avatar, :size => "24x24") %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>