<h1>History</h1>
<%= link_to "Settings", edit_user_path(current_user) %><br/>     
<% if @user.microposts.any? %>
    <%= render @microposts %>
<% else %>
	<p>You dont have no history yet.</p>
<% end %>
