<div class="cuteEmail" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
   <br/>
   <div class="messageBox" style="background-color:<%= color %>;border-color: gray;padding: 30px;margin-top: 20px;margin-bottom: 20px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px">
    <%= image_tag(avatar, :size => "48x48") %>
    <h1 id="message" style="font-size: 44px;font-weight: 200;line-height:1;text-align: center;color: black;padding: 30px;"><%= message %></h1>
    <br/><p align="right" style="font-size: 10px;color: black;font-style: italic"><%= name %></p>
  </div>
</div>  