@import "bootstrap";
@import "bootstrap-responsive";



.invisible {
  visibility:hidden;
}

.visible {
  visibility:visible;
}

.name_selected {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight:bold;
  color: green;
}

.name_unselected {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: gray;
}

.avatar {
  border:4px;
  border-style:solid;
  border-color:#eaeaea;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4;
}

.avatar_selected {
  border:4px;
  border-style:solid;
  border-color:green;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4;
}

.avatar_visible {
  border:4px;
  border-style:solid;
  border-color:black;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4;
}

a.noline {
  font-size: 12px;
  font-weight:bold;
  color: gray; 
  text-decoration: none;
}


$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



html {
  overflow-y: scroll;
}

body {
  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}





/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* microposts */

.microposts {
  list-style: none;

  li {
    padding: 0px 0;
  }
}
.content {
  display: block;
  background-color : pink;
}
.timestamp {
  color: $grayLight;
}

.messageBox {
  a:link {text-decoration: underline; color: black }
  a:visited {text-decoration: underline; color: black }
  a:hover {text-decoration: underline}
}
