<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<style type="text/css">  

 		.cuteEmail{
 			background-color: #eee;
 			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 			
 		}
	    .messageBox {
	    	background-color: pink;
	      	border-color: gray;
	      	padding: 60px;
	      	margin-top: 30px;
 			margin-left: 10px;
 			margin-right: 10px;
 			margin-bottom: 30px;
	      	border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;    
		    			    
	    }
	    .aftertext {
	    	margin-top: 30px;
 			margin-left: 10px;
 			margin-right: 10px;
 			margin-bottom: 30px;
	    }
	    h1 {
	    	font-size: 60px;
	      	font-weight: 200;
	    	line-height: 30px;
	    	text-align: center;
	    	color: black;
	    }
	    p {
	    	font-size: 10px;
	    	color: gray;
	    }
	  </style>
    <p>Preview:</p>
    <div class="cuteEmail">
    	<br>
    	<div class="messageBox">
    		<h1>your message here...</h1>
    	</div>
   		<div class="aftertext">
   			<p>From cutie</p>
   		</div>	
   	</div>
  </body>
</html>