<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="cuteEmail" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif">
    	<br/><div class="messageBox" style="background-color: #8BE8C8;border-color: gray;padding: 30px;margin-top: 20px;margin-bottom: 20px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px">
    		<%= image_tag(@user.avatar, :size => "48x48") %>
        <h1 style="font-size: 44px;font-weight: 200;line-height:1;text-align: center;color: black;padding: 30px;"><%= @lugogram_message %></h1>
        <br/><p align="right" style="font-size: 10px;color: black;font-style: italic"><%= @user.name %></p>
    	</div>
   		<div class="aftertext" style="margin-top: 30px;margin-bottom: 30px">
   		 <p style="font-size: 10px;color: gray"><%= @user.name %> is not expecting you to reply. Just lean back and enjoy your <a href="https://lugogram.herokuapp.com"><span style="font-size: 10px;color: gray">Lugogram</span></a>.
       </p>
      </div>	
   		<br/>
   	</div>
  </body>
</html>